<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="height: 100%; margin-top: 5%; "
>
  <div style="display: flex; padding-top:10px; width: 100%;">
    <div
      style="margin-left: 4em; display: flex;width: 20vh; height: 20vh;">
      <a href="/">
        <img src="/img/muhLogo.png" class="mx-auto d-block m-4 logo" alt="Logo" style="width: 30vh;"
        />
      </a>
      <div style="color: antiquewhite;">
          <pre style="width: max-content; font-family:cursive" 
          >   Nombre: luis de la ossa
             jesus nieves

Whatsapp: 3003016168
            </pre> 
            
          </p>
      </div>
      <div style="color: antiquewhite; ">
          <pre style="width: max-content; font-family:cursive" 
          >   Email: delaossal@gmail.com
         nievesj@utb.edu.co
            </pre> 
            
          </p>
      </div>
    </div>
  </div>
</nav>