<div class="card">
  <div class="card-body">
    <center><h1 class="">UH United Hearts</h1>
      <p class="lead">Unidos mas que nunca.</p></center>
    <hr class="my-4" />
    <p>U.H Es una plataforma web de gestión para el agendamiento de citas,
      consultas, inventario de medicamentos, que pretende brindar un servicio
      eficaz y ágil en la comodidad del hogar del cliente o usuario.</p>
  </div>
</div>
<div style="display: flex;">
    <div class="card" style="width: 50%; display:flex; margin-top: 10%;">
    <div class="card-body" style="width: 100%">
        <center><h1 class="">MISION</h1>
        <hr class="my-4" />
        <p>Solucionar de manera efectiva, segura y temprana, la problemática una
        población al momento de adquirir medicamentos o citas.
        </p>
    </div>
    </div>

    <div class="card" style="width: 50%; display:flex; margin-top: 10%;">
    <div class="card-body" style="width: 100%">
        <center><h1 class="">VISION</h1>
        <hr class="my-4" />
        <p>
            Al año 2024 contar con una de las mayores y optimas interfaces graficas que permitan 
            al usuario una interacción fácil y efectiva.
        </p>
    </div>
    </div>

</div>