{{#each success}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path>
    {{text}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/each}}
<center>
<div class="jumbotron mt-4" style="width: 100%; background-color: rgb(255, 255, 255);">
  <center><h1 class="display-4">UH United Hearts</h1>
    <p class="lead">Unidos mas que nunca.</p></center>
  <hr class="my-4" />
  <p>
      <br>
  </p>
</div>
</center>
