{{#each success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <path d="M0 0h24v24H0z" fill="none" />
    <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="jumbotron mt-4" style="background-color: rgb(255, 255, 255);">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam laborum voluptate quibusdam sapiente,
    inventore repellendus suscipit animi ex. Sapiente, totam. Maxime, ipsa laboriosam sequi quidem inventore perferendis
    neque. Necessitatibus.</p>
    <a href="/about" class="btn btn-primary btn-lg">ABOUT</a>
</div>